.header {
    margin: 0.5rem;
    width: 100%;
    margin-inline: auto;
    height: 100vh;
   background-image: url('../../assets/images/pexels-heyho-7511693.jpg');
   background-position: bottom;
   background-size: cover;
   display: flex;
   align-items: flex-end;
   justify-content: center;
}

.header-content {
    margin-bottom: 22rem;
    text-align: center;
    color: whitesmoke;
    background: #00000080;
    padding:50px;
    border-radius: 10px;
}
.h1 {
    padding-top: 20px 0px;
}
.h1::after{
    content: "";
    display: block;
    max-width: 20%;
    margin: 0 auto;
    margin-top: 10px;
    height: 4px; 
    background: #fc036b;    
    box-sizing: border-box;
}

.header-content h1{
    font-size: 6vmin;
    margin: 40px 0px;
}

.ctn {
    padding: 8px 25px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
    text-decoration: none;
}

.header-content .h2{
    font-size: 1.5rem;
    margin-bottom: 1.3rem;
}

.header-content a{
    text-decoration: none;
}


.card img.resized-img {
  height: 250px;
  width: 100%;
  margin-inline: auto;
}