.hero {
    background-image: url("../../assets/images/pexels-heyho-7147284.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  }
  
  .hero .container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
  }
  
  .card img.resized-img {
    height: 250px;
    width: 100%;
  }