.hero {
    background-image: url("../../assets/images/pexels-heyho-7147284.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  }
  
  .hero .container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
  }

  .card {
    height: 25rem;
    border: 0.2px solid rgb(245, 244, 244);
    
  }
  .card .card-body {
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 12rem;
  }

  .actionBtn {
    border-radius: 0 !important;
    transition: 0.5s ease-in-out;
    border: none !important;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.5);
  }

  .actionBtn:hover {
    background-color: #fc036b;
    color: #fff;
    border-radius: 5px !important;
  }

  .card .card-title {
    display: flex;
    justify-content: start;
    align-items: center;

  }
  
  .card-img-top {
    padding: 10px;
    width: 100%;
    height: 250px;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all 1.1s;
    padding-bottom: 2rem;
  }

  .card-img-top:hover {
    transform: scale(1.2);
  }